{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "1.0.1"},
        {gproc, "0.5.0"},
        {jsonx, {git, "https://github.com/iskra/jsonx"}}
        ]}.

{relx, [{release, { chat, "0.1.0" },
         [chat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{shell, [{apps, 
    [cowboy,gproc,chat]}]}.